<footer>
    <ul id="footerNav">
        <li><a>&#169;UNCC NEXT LEVEL</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
</footer>
</body>
</html>