<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Next Level - Home</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <div id="topHeader">
            <a href="/"><img src="/images/logo.png" class="logo" alt="UNCC NEXT LEVEL"></a>
            <a href="/" id="logoText" ><span style="color:green;">NEXT</span><b>LEVEL</b></a>
            
            <nav id="userNav">
                <ul>
                    <%if(!user) {%>
                        <li><a href='/users/new'>Sign Up</a></li>
                        <li><a href='/users/login'>Login</a></li>
                    <%} else {%>
                        <li><a href='/users/profile'>Profile</a></li>
                        <li><a href='/users/logout'>Logout</a></li>
                        <li><a href="/connections/new">Start a new connection</a>
                    <%}%>
                </ul>
            </nav>
        </div>
        <div class="height50">
            <nav id="siteNav">
                <ul>
                    <li><a href="/connections">Connections</a></li>
                </ul>
            </nav>
        </div>
    </header>