<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Next Level - Home</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <div id="topHeader">
            <a href="/"><img src="/images/logo.png" class="logo" alt="UNCC NEXT LEVEL"></a>
            <p id="logoText"><span style="color:green;">NEXT</span><b>LEVEL</b></p>
            
            <nav id="userNav">
                <ul>
                    <li><a href="/connections/new">Start a new connection</a></li>
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Sign up</a></li>
                </ul>
            </nav>
        </div>
        <div class="height50">
            <nav id="siteNav">
                <ul>
                    <li><a href="/connections">Connections</a></li>
                </ul>
            </nav>
        </div>
    </header>