<%- include('./partials/header.ejs')%>
    <main>
        <div id="connectionsText">
            <h1>Internship Meetups</h1>
            <ul class="connectionsList">
                <li><a href="connection.html">Connect with the TIAA recruiting team</a></li>
                <li><a href="connection.html">Meet with a Bank of America Technical Recruiter</a></li>
                <li><a href="connection.html">Schedule a meeting with the Career Center</a></li>
            </ul>
            <h1>Tutoring Meetups</h1>
            <ul class="connectionsList">
                <li><a href="connection.html">CCI Tutoring Q & A Live Session</a></li>
                <li><a href="connection.html">How to become a Tutor Interest Meeting</a></li>
                <li><a href="connection.html">Meetup with the Tutoring Team</a></li>
            </ul>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>