<%- include('./partials/header.ejs')%>
    <main>
        <div id="connectionInfo">
            <h2>Meet with a Bank of America Technical Recruiter</h2>
            <br>
            <img src="images/bofa.png" id="bofaLogo" alt="Bank of America Logo">
            <br>
            <div id="eventLocation">
                <p>Hosted by Kathy Kate</p><br>
                <p>Friday, September 25th, 2022 </p><br>
                <p>7:00pm - 8:00pm</p><br>
                <p>Woodward Hall Room 261</p><br>
            </div>

            <div id="eventDetails">
                <br>
                <h3>Details</h3><br>
                <p>Join BofA Technical Recruiter Kathy Kate for a Q/A about working at Bank of America</p>
            </div>
            <br>
            <button type="button" onclick="location.href='connections.html'">Update</button>
            <button type="button" onclick="location.href='connections.html'">Delete</button>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>