<%- include('../partials/header.ejs')%>
    <main>
        <div id="connections">
            <form action = '/connections' method = 'POST'>
                <div>
                    <label>Topic</label>
                    <input type="text" placeholder="Topic" id="topic" name="topic" required>
                </div>
                <br>
                <div>
                    <label>Title</label>
                    <input type="text" placeholder="Title" id="title" name="title" required>
                </div>
                <br>
                <div>
                    <label>Details</label>
                    <input type="text" placeholder="Description" class="height50" name="description" required>
                </div>
                <br>
                <br>
                <br>
                <div>
                    <label>Where</label>
                    <input type="text" placeholder="Location" id="location" name="location" required>
                </div>
                <br>
                <div>
                    <label>When</label>
                    <input type="date" value = "2022-01-01" id="date" name="date" required>
                </div>
                <br>
                <div>
                    <label>Start</label>
                    <input type="time" value="12:00" id="start" name="start" required>
                </div>
                <br>
                <div>
                    <label>End</label>
                    <input type="time" value="13:00" id="end" name="end" required>
                </div>
                <br>
                <div>
                    <label>Image URL</label>
                    <input type="text" placeholder="Enter image link here" id="image" name="image" required>
                </div>
                <br>
                <div class="textCenter">
                <button type="submit" id="createButton">Create Connection</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>