* {
    margin: 0;
    padding: 0;
    text-decoration: none; 
}

html, body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    color: white;
    background-color: black;
    width: 100%;
}

.height50{
    height: 50px;
}

#topHeader {
    height: 120px;
    border-style: none none solid none;
    border-width: thin;
}

.logo, .eventLogo {   
    height: 80px;
    width: 80px;
    display: inline;
}

.logo {
    margin: 20px 0px 0px 58px;
}

.eventLogo {
    margin: 0px 0px 20px 0px;
}

#userNav {
    font-size: 20px;
    margin: 50px;
    float: right;
    height: 20px;
}

#siteNav, #footerNav {
    float: left;
    width: fit-content;
    height: 20px;
}

#siteNav {
    margin: 15px 0px 0px 40px;
}

#footerNav {
    margin: 20px 0px 0px 40px;
}

li {
    display: inline;
    margin: 15px;
}

li a {
    color:white;
}

form {
    width: fit-content;
}

footer {
    position: absolute;
    bottom: 0;
    height: 60px;
}

main {
    top: 170px;
    bottom: 60px;
    width: 100%;
    min-height: calc(100vh - 230px);
    position: absolute;
}

button {
    margin: 5px 5px 5px 10px;
    display: inline;
    height: 25px;
}

#eventLocation {
    position: relative;
    display: inline;
    width: 200px;
    margin: 10px auto;
    right: 0px;
}

#eventDetails {
    width: 400px;
}

#createButton{
    left: 100px;
    position: relative;
    margin: auto auto;
    width: 150px;
}

#connections{
    height: fit-content;
    position: relative;
    margin: 10vh auto;
    width: fit-content;
}

#content{
    color: black;
    word-wrap: break-word;
    width: 60%;
    font-size: 25px;
    position: relative;
    margin: 10vh auto;
}

input{
    width: 300px;
    float: right;
    margin-left: 20px;
}

#logoText {
    color: white;
    font-size: 40px;
    height: 40px;
    width: 240px;
    display: inline;
    position: fixed;
    left: 145px;
    top: 40px;
}
