* {
    margin: 0;
    padding: 0;
    text-decoration: none; 
}

html, body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header, footer {
    color: white;
    background-color: black;
    width: 100%;
}

.height50{
    height: 50px;
}

#topHeader {
    height: 120px;
    border-style: none none solid none;
    border-width: thin;
}

.logo, .eventLogo {   
    height: 80px;
    width: 80px;
    display: inline;
}

.logo {
    margin: 20px 0px 0px 58px;
}

.eventLogo {
    margin: 0px 0px 20px 0px;
}

#userNav {
    font-size: 20px;
    margin: 50px;
    float: right;
    height: 20px;
}

#siteNav, #footerNav {
    float: left;
    width: fit-content;
    height: 20px;
}

#siteNav {
    margin: 15px 0px 0px 40px;
}

#footerNav {
    margin: 20px 0px 0px 40px;
}

li{
    display: inline;
    margin: 15px; 
}

header a, footer a {
    color:white;
}

footer {
    position: fixed;
    bottom: 0;
    height: 60px;
   
}

main {
    top: 170px;
    bottom: 60px;
    width: 100%;
    min-height: calc(100vh - 230px);
    position: absolute;
}

#createButton{
    width: 150px;
}

.textCenter{
    text-align: center;
}

#connections, #content{
    height: fit-content;
    margin: 5vh auto;
}

#connections {
    width: fit-content;
}

#content{
    width: 60%;
    font-size: 25px;
}

#profile{
    max-width:100%;
    white-space:nowrap; 
    font-size: 14px;
    border: 1px solid;
}

#profile th,td {  
    border: 1px solid;
}

#profile td {
    text-align: center;
}

#profile td:nth-child(1) {
    width: 350px;
}

#profile td:nth-child(2) {
    width: 100px;
}

input{
    width: 300px;
    float: right;
    margin-left: 20px;
}

#logoText {
    color: white;
    font-size: 40px;
    height: 40px;
    width: 240px;
    display: inline-block;
    position: relative;
    left: 10px;
    top: -25px;
}

.success {
    background: rgba(108, 192, 112, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
  }
  
  .error {
    background: rgba(255, 102, 51, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
  }
