<%- include('../partials/header.ejs')%>

<main>
    <div id="content">
        <h3>About UNCC NEXT LEVEL</h3><br>
        <p>Here at UNCC NEXT LEVEL, we strive to help all CCI students at the University of North Carolina at Charlotte achieve!
            We focus on students having the best opportunities available to them before and after graduation by hosting 
            events to help all students achieve, succeed and to make the stress of graduation and post-graduation lesser!

        </p><br>
        <p>Check out the Connections page to browse and create internship related events, Tutoring related events, and more!</p>
    </div>
</main>

<%- include('../partials/footer.ejs')%>