<%- include('../partials/header.ejs')%>

<main>
    <div id="content">
        <h3>Contact the UNCC NEXT Level Team</h3><br>
        <p>You can reach the UNCC Next Level Team via eMail at UNCCNEXTLEVEL@uncc.edu or by phone at (704)-999-999</p>
    </div>
</main>

<%- include('../partials/footer.ejs')%>