<%- include('../partials/header.ejs')%>

<main>
    <div id="welcomeText">
        <p>Welcome to UNCC NEXT LEVEL</p><br>
        <p>UNCC NEXT LEVEL is for helping students pursue and gain opporunities before and after graduation.
            Here you can find or become a group tutor, go to recruitment events and more!</p><br>
        <p>Check out the Connections page to browse currently available events and connections.</p>
    </div>
</main>

<%- include('../partials/footer.ejs')%>